extends _bootstrap
append styles

block body
	nav.navbar.navbar-inverse.navbar-fixed-top
		.container
			.navbar-header
				button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
					span.sr-only Toggle navigation
					span.icon-bar
					span.icon-bar
					span.icon-bar
				a.navbar-brand(href='#') CHHL	
			#navbar.navbar-collapse.collapse
				ul.nav.navbar-nav
					li
						a(href='/') Home
					li
						a(href='/movie_page') Movie
					li.active
						a(href='/cast_page') Cast
					li
						a(href='/crew_page') Crew

				if (state)
					if (state.userid)
						form.navbar-form.navbar-right
							li.dropdown
								a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-expanded='false')
									span.caret
									| Welcome! 
									a=state.username
								ul.dropdown-menu(role='menu')
									li
										a(href='/quiz_info') Play game
									li.divider
									li
										a(href='/logout') Log out
						form.navbar-form.navbar-right(action='/bing',method="post")
							.form-group
								label(for="query")
								input.form-control(type='text', name='query', size="60", maxlength="60", value="")
								input.form-control(name="bt_search", type="submit", value="Bing")
					else
						form.navbar-form.navbar-right(action="/signin",method="get")
							.form-group
								button.btn.btn-success(href='/signin') Sign in
						form.navbar-form.navbar-right(action="/signup",method="get")
							.form-group
								button.btn.btn-success(href='/signup') Sign up
						form.navbar-form.navbar-right(action='/bing',method="post")
							.form-group
								label(for="query")
								input.form-control(type='text', name='query', size="60", maxlength="60", value="")
								input.form-control(name="bt_search", type="submit", value="Bing")
				else
					form.navbar-form.navbar-right(action="/signin",method="get")
						.form-group
							button.btn.btn-success(href='/signin') Sign in
					form.navbar-form.navbar-right(action="/signup",method="get")
						.form-group
							button.btn.btn-success(href='/signup') Sign up
					form.navbar-form.navbar-right(action='/bing',method="post")
						.form-group
							label(for="query")
							input.form-control(type='text', name='query', size="60", maxlength="60", value="")
							input.form-control(name="bt_search", type="submit", value="Bing")
	br
	br
	include ../public/stylesheets/searchbar_style.css
	.flexsearch
		.flexsearch--wrapper
			form.flexsearch--form(method="get", action="/search_cast")
				.flexsearch--input-wrapper
					input.flexsearch--input(type="search", name="cast_name", placeholder="cast name")
				input.flexsearch--submit(type="submit", value='➜')
	
	include ../public/stylesheets/sticky-footer.css
	footer.footer
		.container
			p © CHHL
	block content