@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600);


table {
  background: #012B39;
  border-radius: 0.25em;
  border-collapse: collapse;
  margin: 1em;
}

thead tr:first-child {
  background: #3b5998;
  color: #fff;
  border: none;
}

thead tr:last-child th {border-bottom: 3px solid #ddd;}


th {
  border-bottom: 1px solid #364043;
  color: #E2B842;
  font-size: 0.85em;
  font-weight: 600;
  padding: 0.5em 1em;
  text-align: left;
}
td {
  color: #fff;
  font-weight: 400;
  padding: 0.65em 1em;
}
.disabled td {
  color: #4F5F64;
}
tbody tr {
  transition: background 0.25s ease;
}
tbody tr:hover {
  background: #014055;
}
