extend test
block content
  p
  
  table
    - for (var inx = 0; inx < results.length; inx++)
        tr
          br
          print results[inx].title, results[inx].poster
          td
           
  br

  br