extend test
block content
  table
    - for (var inx = 0; inx < results.length; inx++)
        tr
          br
          a(class='POST' href='/choose_event?id=' + results[inx].GROUP_ID)= results[inx].GROUP_NAME
          td 

  br
  br
  form(method='get', action='/friends')
      input(type='submit', value='Create Group')