!!!5
html
  head
    title #{title} 
    link(rel='stylesheet', href='/stylesheets/test2.css')
  body
    header
      h1 #{message} #{user}! 
    .container
      .main-content
        block content
      .sidebar
        block sidebar